<h1><%= t(".#{@calendar.provider}") %>: <%= t(".primary") if @calendar.primary %> </h1>

<%= link_to "Appointment Types", dashboard_appointment_types_path(calendar_id: @calendar.id), class: 'btn btn-outline' %>

<%= @calendar.summary %>
<%= @calendar.time_zone %>
<br />
<% @calendar_service.events.each do |event| %>
  <%= render EventComponent.new(event: event) %>
<% end %>


