<h1><%= t(".#{Current.calendar.provider}") %>: <%= t(".primary") if Current.calendar.primary %> </h1>
<%= Current.calendar.time_zone %>
<%#= Current.calendar.summary %>
<br />

<div class="md:flex md:gap-4 md:items-start" data-controller="toggle">
  <div class="mt-6 tabs tabs-boxed md:flex md:flex-col ">
    <%= link_to t(".calendar"), "", class: 'tab tab-lg tab-active w-full', "data-turbo-frame": "calendar", "data-action": "toggle#toggleVisibility", "data-target-id": "calendar" %>
    <%= link_to t(".appointment_type"), dashboard_appointment_type_path(@appointment_type), class: 'tab tab-lg w-full', "data-turbo-frame": dom_id(@appointment_type), "data-action": "toggle#toggleVisibility", "data-target-id": "appointment_types" %>
    <%= link_to t(".availabilities"), [:dashboard, @appointment_type, :availabilities], class: 'tab tab-lg w-full', "data-turbo-frame": "availabilities", "data-action": "toggle#toggleVisibility", "data-target-id": "availabilities" %>
    <%= link_to t(".appointments"), [:dashboard, :appointments], class: 'tab tab-lg w-full', "data-turbo-frame": "availabilities", "data-action": "toggle#toggleVisibility", "data-target-id": "appointments" %>
  </div>

  <%= turbo_frame_tag :calendar, class: "w-full md:flex-1 data-[toggle=hide]:hidden", "data-toggle": "show" do %>
    <h2><%= t(".calendar_settings") %></h2>
    <p><%= t(".people_can_book") %></p>
    <div class="form-control">
      <label class="input-group">
        <span>https://www.timefixr.com/</span>
        <input type="text" value="<%= Current.calendar.slug %>" class="input input-bordered" disabled=<%= current_user.premium? %> />
      </label>
    </div>
  <% end %>
  <div id="appointment_types" class="w-full md:flex-1 data-[toggle=hide]:hidden" data-toggle="hide">
    <% if @appointment_type %>
      <%= turbo_frame_tag dom_id(@appointment_type), src: dashboard_appointment_type_path(@appointment_type) do %>
      <% end %>
    <% else %>
      <%= turbo_frame_tag :new_appointment_type, src: [:new, :dashboard, :appointment_type ] do %>
      <% end %>
    <% end %>
  </div>
  <%= turbo_frame_tag :availabilities, src: [:dashboard, @appointment_type, :availabilities], class: "w-full md:flex-1 data-[toggle=hide]:hidden", loading: "lazy", "data-toggle": "hide" do %>
    loading...
  <% end %>

  <%= turbo_frame_tag :appointments, src: [:dashboard, :appointments], class: "w-full md:flex-1 data-[toggle=hide]:hidden", loading: "lazy", "data-toggle": "hide" do %>
    loading...
  <% end %>
</div>
