<div data-controller="calendar-component" class="flex w-full gap-2 snap-mandatory snap-x overflow-x-auto py-6">
	<% days.in_groups_of(7) do |week| %>
		<div class="grid grid-cols-7 gap-2 snap-center shrink-0 w-full place-content-stretch">

			<% month_row(week).each do |row| %>
				<div class="row-start-2 col-start-<%= row[0] + 1 %> col-end-<%= row[1] + 1 %> text-xl font-medium <%= 'text-center' if month_row(week).one? %>">
					<%= week[row[0]]&.month %> <%= week[row[0]]&.year %>
				</div>
			<% end %>

			<% week.each_with_index do |day, index| %>
				<div class=" row-start-3 col-start-<%= index + 1 %>">
					<div class="text-sm p-2 border-b text-center">
						<%= day.weekday %>
					</div>
					<div class="text-3xl p-2 text-center font-semibold <%= 'text-slate-400' unless day.bookable %>">
						<%= day.date %>
					</div>
				</div>

				<div class="<%= day_css(availability_slots_by(day.full_date).present?) %>" style="grid-template-rows: repeat(<%= base_calendar_grid(availability_slots_by(day.full_date).present?) %>, 1.3px">
					<% if availability_slots_by(day.full_date).present? %>
						<% availability_grid(day.full_date).each do |slot| %>
							<% if slot[:start_at] >= Time.zone.now %>
								<%= link_to appointment_link(slot[:start_at].to_s), class: "border rounded-lg p-2 sm:p-4 cursor-auto transition bg-white ease-in-out hover:scale-110 duration-300 shadow cursor-pointer mb-2", style: "grid-row: #{slot[:row_ordinal]} / span #{appointment_type.duration}", data: { turbo_stream: true } do %>
										<span class="text-sm"><%= slot_label(slot[:start_at]) %></span>
								<% end %>
							<% end %>
						<% end %>
					<% end %>
				</div>
			<% end %>
		</div>
	<% end %>
</div>
