<div data-controller="calendar-component" class="">
	<div class="flex w-full h-full snap-mandatory snap-x overflow-x-auto gap-2">
		<% days.in_groups_of(7) do |week| %>

			<div class="grid grid-cols-7 gap-2 snap-center shrink-0 w-full place-content-stretch">

				<% month_row(week).each do |row| %>
					<div class="row-start-2 col-start-<%= row[0] + 1 %> col-end-<%= row[1] + 1 %> text-xl font-medium <%= 'text-center' if month_row(week).one? %>">
						<%= week[row[0]]&.month %> <%= week[row[0]]&.year %>
					</div>
				<% end %>

				<% week.each_with_index do |day, index| %>
					<div class=" row-start-3 col-start-<%= index + 1 %>">
						<div class="text-sm p-2 border-b text-center">
							<%= day.weekday %>
						</div>
						<div class="text-3xl p-2 text-center font-semibold <%= 'text-slate-400' unless day.bookable %>">
							<%= day.date %>
						</div>
					</div>

					<% avail_date = availability_date(day.full_date) %>

					<div class="<%= day_css(avail_date) %>" style="grid-template-rows: repeat(<%= base_appointment_grid(avail_date) %>, 1.3px">
						<% if avail_date %>
							<% availability_grid(avail_date).each do |slot| %>
								<div class="border rounded-lg p-4 cursor-auto transition bg-white ease-in-out hover:scale-110 duration-300 shadow cursor-pointer mb-2" style="grid-row: <%= slot[0] %> / span <%= appointment_type.duration %>">
									<%= slot[1] %>
								</div>
							<% end %>
						<% end %>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</div>
