<p><%= t ".greeting", name: @calendar.user.full_name %></p>

<p><%= t ".new_appointment_html", appointment_type: @appointment_type.title, booker: @booker_name %></p>

<h3><%= t ".appointment_info" %>:</h3>
<ul>
	<li><b><%= t ".name" %>:</b> <%= @booker_name %></li>
	<li><b><%= t ".email" %>:</b> <%= @booker_email %></li>
	<li><b><%= t ".date" %>:</b> <%= l @appointment.start_at, format: :short_date %></li>
	<li><b><%= t ".time" %>:</b> <%= l @appointment.start_at, format: :short_time %></li>
</ul>

<%= t ".see_your_appointment", path: dashboard_appointment_url(@appointment) %>

<p><%= t ".closing" %></p>
<p><i><%= t "shared.signature" %></i></p>
