<p><%= t ".greeting", name: @booker_name %></p>

<p><%= t ".appointment_cancelled", appointment_type: @appointment_type.title, person: @calendar.user.full_name %></p>

<h3><%= t ".appointment_info" %></h3>
<ul>
	<li><b><%= t ".date" %>:</b> <%= l @appointment.start_at, format: :short_date %></li>
	<li><b><%= t ".time" %>:</b> <%= l @appointment.start_at, format: :short_time %></li>
	<li><b><%= t ".cancelled_on" %>:</b> <%= l @appointment.deleted_at, format: :short_date %></li>
</ul>

<p><%= t ".closing" %></p>
<p><i><%= t "shared.signature" %></i></p>
