<div data-controller="modal-component">
	<input type="checkbox" id="<%= @modal %>" class="modal-toggle" <%= "checked" if @auto %> />
	<div class="modal modal-bottom sm:modal-middle <%= 'modal-open' if @auto %>" data-modal-component-target="modal">
		<div class="modal-box relative">
			 <label for="<%= @modal %>" class="btn btn-sm btn-outline btn-circle absolute border-0 right-2 top-2" data-action="click->modal-component#close">✕</label>
			<%= content %>

			<% if buttons? %>
				<div class="modal-action">
					<% buttons.each do |button| %>
						<%= button %>
					<% end %>
				</div>
			<% end %>
		</div>
	</div>
</div>
