<%= turbo_frame_tag :modal do %>
	<%= render ModalComponent.new(auto: true) do |c| %>
		<h2><%= appointment_type.title %></h2>
		<p><%= appointment_type.description %></p>
		<div><%= appointment_type.location %></div>
		<div><%= appointment_type.duration %> min</div>

		<%= render appointment_type.availability_template if appointment_type.availability_template %>

		<% c.with_button_delete(path: dashboard_appointment_type_path(id: appointment_type.id)).with_content(t(".delete")) %>
		<% unless appointment_type.availability_template %>
			<% c.with_button_primary(
				path: [
						:new,
						:dashboard,
						appointment_type,
						:availability_template
					]).with_content(t(".create_availabilities")) %>
		<% end %>
	<% end %>
<% end %>
