<p style="color: green"><%= notice %></p>

<%= render @availability %>

<div>
  <%= link_to "Edit this availability", edit_dashboard_availability_path(@availability) %> |
  <%= link_to "Back to availabilities", dashboard_availabilities_path %>

  <%= button_to "Destroy this availability", [:dashboard, @availability], method: :delete %>
</div>
