%p= appointment.description
%p= appointment.location
%p= appointment.creator_name
%p= appointment.creator_email
%p= l appointment.start_at, format: :short_datetime

%p= l appointment.end_at, format: :short_datetime
