<h2><%= t "shared.appt_with_person", appt: @appointment.title, person: @appointment.creator_name %></h2>
<p><%= @appointment.description %></p>
<p><%= @appointment.location %></p>
<p><%= @appointment.creator_name %></p>
<p><%= @appointment.creator_email %></p>
<p><%= l @appointment.start_at, format: :short_date %></p>
<p><%= l @appointment.start_at, format: :short_time %></p>

<p><%= l @appointment.end_at, format: :short_date %></p>
<p><%= l @appointment.end_at, format: :short_time %></p>

<%= button_to "Cancel appointment", appointment_path(@appointment, calendar: @calendar), class: "btn btn-accent mt-4", method: :delete %>
